@using entities = Epam.Task11_12.UsersAndAwards.Entities
@using dr = Epam.Task11_12.UsersAndAwards.Common.DependencyResolver

@{
    Layout = null;

    string userName = User.Identity.IsAuthenticated
        ? User.Identity.Name
        : "Guest";
    entities.Image image = null;
    if (User.Identity.IsAuthenticated)
    {
        image = dr.UsersLogic.GetUserImageByUserName(User.Identity.Name);
    }
    else
    {
        image = dr.UsersLogic.GetDefaultUserImage();
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/custom/layout.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <header class="header_main">
        <div class="header_content">
            <div class="header_userBlock">
                <a href="~/users/userPage?name=@userName" class="accountLink">
                    <p class="userBlock_name">Hello, @userName</p>
                    <img class="userBlock_image" src="data:@image.MimeType;base64,@image.ImageData" alt="User image" />
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="userBlock_logLink" href="/account/logout">Log out</a>
                }
                else
                {
                    <a class="userBlock_logLink" href="/account/login">Log in</a>
                }
            </div>
            <div class="header_menuBlock">
                <a href="~/users/index" class="menuBlock_link">Home</a>
                @if (User.IsInRole("Users"))
                {
                    <a href="/awards/awardList" class="menuBlock_link">Awards List</a>
                }
                @if (User.IsInRole("Admins"))
                {
                    <a href="/awards/createAward" class="menuBlock_link linkCreateAward">Create Award</a>
                    <a href="/users/awardUser" class="menuBlock_link">Award User</a>
                }
                @if (User.IsInRole("SuperAdmins"))
                {
                    <a href="~/users/userManagement" class="menuBlock_link linkManagement">User Management</a>
                }
            </div>
        </div>
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
