@using Epam.FinalTask.PhotoAlbum.Common
@using Epam.FinalTask.PhotoAlbum.Entities

@{
    string imageIdStr = Request["imageId"];
    int imageId = int.Parse(imageIdStr);

    Image image = DependencyResolver.ImagesLogic.GetImageById(imageId);

    IEnumerable<Comment> comments = image.Comments.OrderByDescending(c => c.CommentDate).ToArray();

    User owner = image.ImageOwner;

    Avatar avatarOwner = DependencyResolver.AvatarsLogic.GetUserAvatarByUserName(owner.UserName);

    User visitor = null;

    bool liked = false;

    if (User.Identity.IsAuthenticated)
    {
        visitor = DependencyResolver.UsersLogic.GetUserByUserName(User.Identity.Name);

        if (image.Likes.Contains(visitor.UserId))
        {
            liked = true;
        }
    }
}

@section styles {
    <link href="~/Content/Custom/imagePage.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/Custom/imagePage.js"></script>
}

    <div class="wrap">
        <div class="ownerBlock">
            <a href="/Users/UserPage?name=@owner.UserName" class="userPageLink">
                <img src="data:@avatarOwner.MimeType;base64,@avatarOwner.AvatarData" class="ownerAvatar" alt="Image owner avatar" />
                <p class="ownerName">@owner.UserName</p>
            </a>
        </div>

        <div id="imageId" data-imageid="@image.ImageId" class="imageBlock">
            @if (!image.Banned)
            {
                <img class="image" src="data:@image.MimeType;base64,@image.ImageData" alt="Image" />
            }
            else
            {
                Image bannedImage = DependencyResolver.ImagesLogic.GetBannedImage();
                <img class="image" src="data:@bannedImage.MimeType;base64,@bannedImage.ImageData" alt="Image is banned" />
            }

            <div class="iconsBlock">
                <div class="imageMenuBlock">
                    @if ((User.IsInRole("Admins") && owner.UserRole == "User") || User.IsInRole("SuperAdmins"))
                    {
                        if (!image.Banned)
                        {
                            <button id="banImage" class="btnImage btnImageBan" title="Ban this image">
                                <i class="fa fa-ban"></i>
                            </button>
                        }
                        else
                        {
                            <button id="unbanImage" class="btnImage btnImageUnban" title="Unban this image">
                                <i class="fa fa-check-circle-o"></i>
                            </button>
                        }
                    }

                    @if (User.Identity.Name == owner.UserName)
                    {
                        <button id="deleteImage" class="btnImage btnDeleteImage" title="Delete image">
                            <i class="fa fa-times"></i>
                        </button>
                    }
                </div>

                <div class="likeBlock">
                    <span id="likesCount" class="likesCount">@image.Likes.Count</span>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (!liked)
                        {
                            <button id="btnLike" data-visitorid="@visitor.UserId" class="btnImage btnLike" title="Like this image">
                                <i class="fa fa-heart-o"></i>
                            </button>

                            <button id="btnUnlike" data-visitorid="@visitor.UserId" class="btnImage btnLike hidden" title="Unlike this image">
                                <i class="fa fa-heart"></i>
                            </button>
                        }
                        else
                        {
                            <button id="btnLike" data-visitorid="@visitor.UserId" class="btnImage btnLike hidden" title="Like this image">
                                <i class="fa fa-heart-o"></i>
                            </button>

                            <button id="btnUnlike" data-visitorid="@visitor.UserId" class="btnImage btnLike" title="Unlike this image">
                                <i class="fa fa-heart"></i>
                            </button>
                        }
                    }
                    else
                    {
                        <span class="likeIcon">
                            <i class="fa fa-heart"></i>
                        </span>
                    }
                </div>
                <div class="clear"></div>
            </div>
            <p class="uploadDate">@image.ImageDateOfUpload</p>
            <p class="imageDescription">@image.Description</p>
        </div>

        <div class="imageComments">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="addCommentBlock">
                    <form class="addCommentForm" method="post">
                        <label for="newComment" class="commentForm_label">Add new comment</label>
                        <textarea type="text" id="newComment" name="newComment" class="commentForm_input"></textarea>
                        <button class="btnImage btnImageNewComment" title="Add new comment">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                        <div class="clear"></div>
                    </form>
                </div>
            }
            else
            {
                <p class="guestMessage">
                    <a href="/Account/Login" class="loginLink">Login</a> to add a comment.
                </p>
            }

            <div class="comments">
                @foreach (Comment comment in comments)
                {
                    <a href="/Users/UserPage?@comment.CommentAuthor.UserName" class="commentAuthorPageLink">
                        <p class="commentAuthorName">
                            @comment.CommentAuthor.UserName
                        </p>
                    </a>
                    if (!comment.Banned)
                    {
                        <p class="commentText">@comment.CommentText</p>
                    }
                    else
                    {
                        <p class="commentText">
                            Comment is banned.
                        </p>
                    }
                    <p class="commentDate">
                        @comment.CommentDate.ToString()
                    </p>
                    if ((User.IsInRole("Admins") && comment.CommentAuthor.UserRole == "User") || User.IsInRole("SuperAdmins"))
                    {
                        if (!comment.Banned)
                        {
                            <button class="btnComment btnCommentBan" title="Ban this comment">
                                <i class="fa fa-ban"></i>
                            </button>
                        }
                        else
                        {
                            <button class="btnComment btnCommentUnban" title="Unban this comment">
                                <i class="fa fa-check-circle-o"></i>
                            </button>
                        }
                    }
                }
            </div>
        </div>
    </div>
